html{
    scroll-behavior:smooth;
}
body{
    background:#f4f4f4;
    font-family:Arial,sans-serif;
}

.container{
    width:90%;
    max-width:700px;
    margin:auto;
    background:white;
    padding:30px;
    margin-top:40px;
    border-radius:10px;
    text-align:center;
}

.profile{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
}

h1{
    color:#0077cc;
}

h2{
    color:#555;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#0077cc;
    color:white;
    margin:8px;
    padding:10px;
    border-radius:5px;
}

p{
    line-height:1.6;
}
nav{
background:#0077cc;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:white;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px 20px;
}

section h2{
color:#0077cc;
}
a{
    color:#0077cc;
    text-decoration:underline;
    cursor:pointer;
}
span{
    color:#0077cc;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#0077cc;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:#005fa3;
    transform:scale(1.05);
}
.project{
    background:white;
    padding:20px;
    margin:20px auto;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    max-width:700px;
}
